.card-item {
  margin: 15px;
  transition: all 500ms;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 250px;
  height: 250px;
  margin: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  color: #f8f9fa;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }

  &.flipped .back {
    transform: rotateY(360deg);
  }

  &.flipped .front {
    transform: rotateY(180deg);
  }

  &.flipped .flip-button {
    opacity: 0;
  }

  &.play-mode {
    height: 210px;
  }

  &.play-mode .back {
    display:none;
  }

  &.play-mode .flip-button {
    display: none;
  }

  &.play-mode .front {
    background-color: #f3969a;
  }

  &.play-mode .card-content {
    height: 10px;
  }

  &.play-mode .card-content span {
    display: none;
  }

}

.front {
  border-radius: 5px;
  overflow: hidden;
  background-color: #78c2ad;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 18%), 0 2px 10px 0 rgba(0, 0, 0, 18%);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1000ms;
  width: 100%;

  &.disable {
    opacity: 50%;
    box-shadow: none;
    cursor: default;
  }
}

.back {
  border-radius: 5px;
  overflow: hidden;
  background-color: #78c2ad;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 18%), 0 2px 10px 0 rgba(0, 0, 0, 18%);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 1000ms;
  width: 100%;
}

.card-image-wrapper {
  height: 200px;
}

.card-image {
  height: 200px;
}

.card-content {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.flip-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url('./icons/turn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  cursor: pointer;
  margin-left: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 18%), 0 2px 10px 0 rgba(0, 0, 0, 18%);
  transition: all 500ms;

  &:hover {
    transform: scale(1.2) rotate(90deg);
  }
}
